
# Visual Studio Code (VS Code) (VSC)
.vscode/
*.code-workspace


# Visual Studio (VS) ~2022
# VS - cache/options directory
.vs/
# VS - build directory
x64/
x86/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

CppProperties.json

build/


# MoM

*.GAM
*.LBX
*.MOM
*.SET


# STU

*.BIN
*.BMP
*.LOG

stderr.txt
stdout.txt

# Borland C++ v3.0 (c) 1992
*.DSK
*.EXE
*.LST
*.MAP
*.OBJ
*.XRF
