[Desktop Entry]
Version=1.0
Type=Application
Name=ReMoM
Comment=Reassembly of Master of Magic v1.31
Exec=ReMoMber
Icon=remom
Categories=Game;StrategyGame;
Terminal=false
